
# --------------------------
# Dependencies
node_modules/
**/.DS_Store

# Build artifacts
dist/
.react-router/
extensions//dist
extensions//node_modules
extensions//generated

# Shopify config (keep local only)
shopify.app.*.toml
.env.*

# --------------------------
# DO NOT IGNORE .gadget/
# This folder is required for builds
# --------------------------
